In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r'F:\netsol_project\task_1\credit_decisioning_risk_assesment\artifacts\train.csv')
df.head()

,last_fico_range_high,last_fico_range_low,collection_recovery_fee,total_pymnt_inv,int_rate,fico_range_high,debt_settlement_flag,sub_grade,grade,term,loan_condition,loan_condition_encoded
0,689.0,685.0,0.0000,40544.06,13.99,719.0,N,C3,C,36 months,Good Loan,1
1,694.0,690.0,0.0000,21032.83,11.99,689.0,N,B5,B,36 months,Good Loan,1
2,499.0,0.0,132.1488,5072.42,15.31,714.0,N,C5,C,36 months,Bad Loan,0
3,789.0,785.0,0.0000,38615.68,13.98,729.0,N,C1,C,60 months,Good Loan,1
4,709.0,705.0,0.0000,13258.98,6.62,754.0,N,A2,A,36 months,Good Loan,1

In [24]:
stacked_df = df[['grade']].stack()
stacked_df_ = df[['sub_grade']].stack()

In [25]:
stacked_df.unique()

array(['C', 'B', 'A', 'E', 'D', 'F', 'G'], dtype=object)

In [26]:
stacked_df_.unique()

array(['C3', 'B5', 'C5', 'C1', 'A2', 'B3', 'E4', 'D2', 'E5', 'D1', 'C2',
       'A1', 'D4', 'A4', 'E2', 'B2', 'A5', 'B4', 'D5', 'B1', 'E3', 'A3',
       'E1', 'D3', 'C4', 'F4', 'F5', 'G1', 'G5', 'F1', 'F2', 'G2', 'G4',
       'F3', 'G3'], dtype=object)